#menuBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    vertical-align: center;
    background-color: #454545;
    color: #bbae9d;
}
#menuBar img{
    padding-left: 20px;
    width: 100px;
}
body{
    margin: 0px;
}
#options{
    display: inline-block;
    padding-top: 40px;
    bottom: 0px;
    width: 60%;
    float: right;
    text-align: right;
    vertical-align: bottom;
    animation: fadedown ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#options a{
    padding: 15px;
    color: #bbae9d;
    text-decoration: none;
    font-size: 20px;
}
@keyframes fadedown{
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}